<!DOCTYPE html>
<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12">
            <div class="media">
                <div class="media-left media-middle  pull-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src="{{dish.image}}" alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <div class="row">
                    <h4>Customer Comments</h4>
                    <p class="pull-left">Sort by:
                        <input ng-model="filter" type="text">
                    </p>
                </div>
                <div class="row">
                    <blockquote ng-repeat="comment in dish.comments | orderBy:filter">
                        <p>
                            {{comment.rating}} Stars
                        </p>
                        <p>
                            {{comment.comment}}
                        </p>
                        <footer>{{comment.author}}, {{comment.date | date:MMMdyyyy}}</footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <div class="row" ng-show="commentForm.$valid && !commentForm.$pristine">
                    <ul class="list-unstyled">
                        <!-- <p>Task 3: Here you include the code to show the live preview of the comment</p>
                        <p>The comment should be shown only when the form contains valid
                        information and is not pristine</p> -->
                        <blockquote>
                            <p>
                                {{customerComment.rating}} Stars
                            </p>
                            <p>
                                {{customerComment.comment}}
                            </p>
                            <footer>{{customerComment.author}}</footer>
                        </blockquote>
                    </ul>
                </div>
                <div class="row">

                    <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate="">
                        <!-- name field -->
                        <div class="form-group" ng-class="{ 'has-error has-feedback' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                            <label for="author" class="col-sm-2 control-label">Your Name</label>
                            <div class="col-sm-10">
                                <input
                                class="form-control"
                                id="author"
                                name="author"
                                placeholder="Enter Your Name"
                                type="text"
                                ng-model="customerComment.author"
                                ng-required="true"
                                >
                                <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                            </div>
                        </div>

                        <!-- rating field -->
                        <div class="form-group">
                            <label for="rating" class="col-sm-2 control-label">Number of Stars</label>
                            <div class="col-sm-10" id="rating">
                                <label class="radio-inline"><input type="radio" name="rating" value="1" ng-model="customerComment.rating">1</label>
                                <label class="radio-inline"><input type="radio" name="rating" value="2" ng-model="customerComment.rating">2</label>
                                <label class="radio-inline"><input type="radio" name="rating" value="3" ng-model="customerComment.rating">3</label>
                                <label class="radio-inline"><input type="radio" name="rating" value="4" ng-model="customerComment.rating">4</label>
                                <label class="radio-inline"><input type="radio" name="rating" value="5" ng-model="customerComment.rating" checked>5</label>
                            </div>
                        </div>

                        <!-- comment text area field -->
                        <div class="form-group" ng-class="{ 'has-error has-feedback' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                            <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                            <div class="col-sm-10">
                                <textarea
                                class="form-control" id="comment"
                                name="comment" rows="12"
                                ng-model="customerComment.comment"
                                ng-required="true"
                                ></textarea>
                                <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Please give your feedback.</span>
                            </div>
                        </div>

                        <!-- button -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                            </div>
                        </div>
                        <!-- <p>Task 2: You need to validate that the user name and comments are entered</p> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
